@font-face{
    font-family: 'Bitcount';
    src: url('fonts/BitcountPropSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf') ;
 
   
}
body {
    background-color: lightblue; 
    font-family: Arial, sans-serif;
    color: gray;
    text-align: center;
     
}


h1 {
    color: blue; 
    text-transform: uppercase;
    font-family: 'Bitcount', sans-serif;
      font-style: italic;
    font-weight: 600;
    font-size: 42px;
}


h2 {
    color: green; 
  
    font-weight: normal;
    font-family: 'Bitcount', sans-serif;
}


label ,p{
    font-weight: bold;
    font-size: 14px;
    color: black;
      font-weight: normal;
    font-family: 'Bitcount', sans-serif;
 
}


input {
    background-color: white;
    color: gray;
    font-family: monospace; 

}


a {
    color: orange; 
    font-weight: bold;
   
}
